.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

.Item-box {
  color:aquamarine;
  height: 30vh;
  width: 30vw;
  float:left;
  background-color: black;
  overflow: hidden;
  margin-top: 10vh;
}

.Item-text{
  font-size: 14px;
}

.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}


