.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

.Item-box {
  color:white;
  height: 40vh;
  width: 30vw;
  float:left;
  background-color: black;
  overflow: hidden;
  margin-top: 5vh;
  overflow-y: auto;
  
  
}

.Item-text{
  font-size: 9px;
  
}

.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  text-align:center;
}

.search-button{
  text-align: center;
  margin-top: 10vh;
}


